.body {
    margin-bottom: 52px;
    padding: 0 50px;
}

.content {
    border-radius: 15px;
    background: #fff;
    padding: 24px;
    min-height: 100%;
    margin-bottom: 24px;
}

.minMatchHeight {
    min-height: 100%;
}

.matchHeight {
    height: 100%;;
}

.menu {
    display: inline-block;
}

.rightHead {
    float: right;
}

.logo {
    margin-right: 28px;
    color: white;
    float: left;
    padding: 0 25px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    background-color: #334454;
}

.headerImage {
    vertical-align: middle;
}

.headerName {
    color: white;
    vertical-align: middle;
    line-height: 64px;
    font-size: 18px;
}

.footer {
    margin-top: 52px;
    padding: 28px;
    background-color: #F0F2F5;
    text-align: center;
}